.projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 330vh;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    color: black;
    font-size: 1.3rem;
    margin-top: -8rem;

    letter-spacing: 2px;
    font-size: 1.3rem;
    color: whitesmoke;
    font-weight: 900;
    text-shadow:
        0 0 7px whitesmoke,
        0 0 10px whitesmoke,
        0 0 21px whitesmoke,
        0 0 32px whitesmoke,
        0 0 43px whitesmoke;
    transition: all 0.5s ease-in-out;
    animation: flicker 0.5s ease-in-out infinite alternate;
}

@keyframes flicker {
    0% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}

.subtitle {
    color: whitesmoke;
    text-align: center;
    margin: 2rem 2rem;
    font-weight: 100;
    letter-spacing: 1px;
}

/* MEDIA QUERIES FOR RESPONSIVE DESIGN */

@media screen and (min-width: 600px) {
    .title {
        margin-top: -10rem;
        letter-spacing: 3px;
        font-size: 1.8rem;
    }

    .projects {
        min-height: 330vh;
    }
}

@media screen and (min-width: 1200px) {
    .title {
        letter-spacing: 3px;
        font-size: 3rem;
    }
}

@media screen and (min-width: 1400px) {
    .title {
        margin-top: -12rem;
    }

    .subtitle {
        margin: 4rem 4rem;
        letter-spacing: 2px;
    }
}