#calculator {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    clip-path: polygon(45% 0, 100% 20%, 100% 80%, 20% 100%, 0 70%, 0 30%);
    background: rgb(2, 211, 248);
    background: linear-gradient(22deg, rgba(49, 219, 208, 1) 0%, rgba(33, 164, 127, 0.611) 100%);
    min-height: 100vh;
    padding-top: 6rem;
}

.title {
    font-weight: 600;
    color: black;
    text-shadow:
    0 0 7px black;
    font-size: 1.2rem;
}

.image-holder {
    display: flex;
    flex-direction: row;
    position: relative;
    top: 0;
    left: 0;
    /* aspect-ratio: 2/1.5; */
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.imageOne,
.imageTwo {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* border: solid 1px whitesmoke;
    box-shadow: 0 0 10px 0 whitesmoke inset, 0 0 10px 4px whitesmoke; */
    transition: transform 300ms ease-in-out;
}

.imageOne {
    /* aspect-ratio: 1/1.5; */
    /* position: relative; */
    /* top: 0;
    left: 0;
    margin-top: 1.6rem;
    margin-left: 1.6rem;
    width: auto;
    height: auto; */
    max-width: 200px;
    max-height: 200px;
}

.imageTwo {
    /* aspect-ratio: 1/1.5; */
    /* position: absolute; */
    /* top: 11rem;
    left: 5rem;
    width: auto;
    height: auto; */
    max-width: 200px;
    max-height: 200px;
}

.content {
    width: 60%;
    margin-bottom: 12rem;
}

.description, .info {
    margin: 2rem;
}

.subtitle {
    margin: 0.5rem;
    font-weight: 500;
    color: whitesmoke;
    text-shadow:
    0 0 7px whitesmoke,
    0 0 10px whitesmoke,
    0 0 21px whitesmoke;
    font-size: 1.2rem;
}