.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.title {
    letter-spacing: 2px;
    font-size: 1.3rem;
    color: whitesmoke;
    font-weight: 900;
    text-shadow:
        0 0 7px whitesmoke,
        0 0 10px whitesmoke,
        0 0 21px whitesmoke,
        0 0 32px whitesmoke,
        0 0 43px whitesmoke;
    transition: all 0.5s ease-in-out;
    animation: flicker 0.5s ease-in-out infinite alternate;
}

@keyframes flicker {
    0% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}

.content {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 2rem;
    margin: 2rem 2rem;
}

.pic img {
    height: 200px;
    width: 100%;
    clip-path: circle();
}

.info {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.info-long,
.info-short {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.info-short {
    color: whitesmoke;
    text-shadow:
        0 0 7px whitesmoke;
    opacity: 0.9;
}

.button {
    display: flex;
    align-items: center;
    text-decoration: none;
    border: 2px solid whitesmoke;
    border-radius: 2px;
    box-shadow: 0 0 10px 0 whitesmoke inset, 0 0 10px 4px whitesmoke;
    color: whitesmoke;
    outline: 0;
    font-size: 0.9rem;
    letter-spacing: 1.1px;
    line-height: 1;
    font-weight: 600;
    padding: 0.3rem 2.5rem;
    text-align: center;
    transition: all 300ms ease-in-out;
}

.button:hover {
    background-color: whitesmoke;
    text-shadow: 0.5px 1px 3px whitesmoke;
    color: transparent;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: black;
    mix-blend-mode: lighten;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    .button:hover {
        color: #000;
    }
}

.highlight {
    animation: color-change 7s infinite;
}

@keyframes color-change {
    0% {
        color: black;
    }

    50% {
        color: whitesmoke;
    }

    100% {
        color: black;
    }
}

.demo {
    animation: text-shadow-change 7s infinite;
}

@keyframes text-shadow-change {
    0% {
        text-shadow:
            0 0 7px whitesmoke;
    }

    50% {
        text-shadow:
            0 0 7px whitesmoke,
            0 0 10px whitesmoke,
            0 0 21px whitesmoke;
    }

    100% {
        text-shadow:
            0 0 7px whitesmoke;
    }
}

/* MEDIA QUERIES FOR RESPONSIVE DESIGN */

@media screen and (min-width: 600px) {
    .title {
        letter-spacing: 3px;
        font-size: 1.8rem;
    }

    .pic img {
        height: 230px;
    }

    .button {
        font-size: 1.3rem;
    }

}

@media screen and (min-width: 1200px) {
    .title {
        letter-spacing: 3px;
        font-size: 3rem;
    }

    .pic img {
        height: 280px;
    }

    .button {
        font-size: 1.8rem;
    }

    .info-short {
        max-width: 900px;
    }
}

@media screen and (min-width: 1400px) {
    .content {
        flex-direction: row;
        /* text-align: end; */
        gap: 2rem;
        margin: 2rem 2rem;
    }

    .info {
        align-items: center;
        justify-content: center;
    }

    .button {
        font-size: 2rem;
        letter-spacing: 1.5px;
        padding: 0.7rem 4rem;
    }
}