.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background: rgb(194, 11, 205);
    background: linear-gradient(180deg, rgba(194, 11, 205, 1) 0%, rgba(41, 17, 65, 0.6112969871542367) 80%);
    clip-path: polygon(0 0, 100% 40%, 100% 100%, 18% 100%, 0 100%);
    min-height: 100vh;
    margin-bottom: 0;
}

.title {
    font-size: 1.3rem;
    margin-top: 12rem;
    margin-bottom: 1rem;

    letter-spacing: 2px;
    font-size: 1.3rem;
    color: whitesmoke;
    font-weight: 900;
    text-shadow:
        0 0 7px whitesmoke,
        0 0 10px whitesmoke,
        0 0 21px whitesmoke,
        0 0 32px whitesmoke,
        0 0 43px whitesmoke;
    transition: all 0.5s ease-in-out;
    animation: flicker 0.5s ease-in-out infinite alternate;
}

@keyframes flicker {
    0% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.contact-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-bottom: 2rem;
}

.name,
.email,
.message {
    width: 12rem;
    background: transparent;
    border: none;
    outline-width: 0;
    backdrop-filter: blur(5px);
    border-radius: 6px;
    margin: 0.2rem;
    padding: 0.5rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    opacity: 0.7;
    /* color: darkgray; */
}

.name:focus,
.email:focus,
.message:focus {
    outline: none;
    opacity: 1;
    color: whitesmoke;
}

.message {
    resize: none;
    min-height: 4rem;
}

.submit {
    font-family: 'Changa', sans-serif;
    width: 13rem;
    outline-width: 0;
    background: transparent;
    border: none;
    border-radius: 6px;
    letter-spacing: 1.5px;
    font-size: 1.1rem;
    font-weight: 600;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 0.2rem;
    padding: 0.5rem;
    opacity: 1.1;
    color: whitesmoke;
    text-shadow:
        0 0 7px whitesmoke,
        0 0 10px whitesmoke,
        0 0 21px whitesmoke;
    cursor: pointer;
    transition: all 200ms ease-in-out;
}

.submit:disabled {
    color: rgb(70, 70, 70);
    text-shadow: none;
    opacity: 0.5;
}

.submit:disabled:hover {
    pointer-events: none;
}

.submit:hover {
    backdrop-filter: saturate(1.5);
}

.subtitle {
    font-size: 1.2rem;
    color: whitesmoke;
    opacity: 0.8;
    animation: fade-out 2.5s ease-out infinite alternate;
    position: absolute;
    overflow: none;
    margin-top: 11rem;
}

.msg-one {
    animation: animation 5s infinite;
}

.msg-two {
    animation: animate 5s infinite;
}

@keyframes animate {
    0% {
        opacity: 0;
    }

    25% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    75% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

@keyframes animation {
    0% {
        opacity: 1;
    }

    25% {
        opacity: 0;
    }

    50% {
        opacity: 0;
    }

    75% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.social-media {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 1.5rem;
    color: whitesmoke;
}

.social-media a {
    font-size: 1.5rem;
    color: whitesmoke;
}

.linkedin,
.facebook,
.github {
    transition: all 600ms ease-in-out;
    cursor: pointer;
    opacity: 0.6;
}

.linkedin:hover {
    color: #5562ea;
    transform: scale(1.2);
    opacity: 1;
}

.facebook:hover {
    color: #4867aa;
    transform: scale(1.2);
    opacity: 1;
}

.github:hover {
    color: purple;
    transform: scale(1.2);
    opacity: 1;
}

.made-by {
    color: whitesmoke;
    text-align: center;
    margin: 0rem 1rem 3rem 1rem;
    opacity: 0.5;
    position: absolute;
    bottom: 0;
}

/* MEDIA QUERIES FOR RESPONSIVE DESIGN */

@media screen and (min-width: 600px) {
    .title {
        letter-spacing: 3px;
        font-size: 1.8rem;
    }

    .name,
    .email,
    .message {
        width: 22rem;
        margin: 0.5rem;
        padding: 0.8rem;
        font-size: 1.3rem;
    }

    .submit {
        width: 23.5rem;
        font-size: 1.5rem;
        margin: 0.5rem;
        padding: 0.8rem;
    }

    .subtitle {
        font-size: 1.5rem;
        margin-top: 17rem;
    }

    .msg-one {
        animation: animation 5s infinite;
    }

    .msg-two {
        animation: animate 5s infinite;
    }

    .social-media {
        gap: 2rem;
        font-size: 2rem;
    }

    .social-media a {
        font-size: 2rem;
    }

    .made-by {
        color: whitesmoke;
        text-align: center;
        margin: 0rem 1rem 3rem 1rem;
        opacity: 0.5;
        position: absolute;
        bottom: 0;
    }
}

@media screen and (min-width: 1200px) {
    .title {
        letter-spacing: 3px;
        font-size: 2rem;
    }

    .name,
    .email,
    .message {
        width: 28rem;
        margin: 0.5rem;
        padding: 0.8rem;
        font-size: 1.5rem;
    }

    .submit {
        width: 29.5rem;
        font-size: 1.5rem;
        margin: 0.5rem;
        padding: 0.8rem;
    }

    .subtitle {
        font-size: 1.7rem;
        margin-top: 14rem;
    }

    .msg-one {
        animation: animation 5s infinite;
    }

    .msg-two {
        animation: animate 5s infinite;
    }

    .social-media {
        gap: 3rem;
        font-size: 3rem;
        margin-bottom: 3rem;
    }

    .social-media a {
        font-size: 3rem;
    }

    .made-by {
        color: whitesmoke;
        text-align: center;
        margin: 0rem 1rem 3rem 1rem;
        opacity: 0.5;
        position: absolute;
        bottom: 0;
    }
}

@media screen and (min-width: 1400px) {

    .name,
    .email,
    .message {
        width: 32rem;
        padding: 1.2rem;
    }

    .submit {
        width: 34.4rem;
        font-size: 1.8rem;
    }

    .subtitle {
        font-size: 1.7rem;
        margin-top: 20rem;
    }

    .msg-one {
        animation: animation 5s infinite;
    }

    .msg-two {
        animation: animate 5s infinite;
    }

    .social-media {
        margin-top: 3rem;
        margin-bottom: 1rem;
    }

    .made-by {
        margin: 0rem 1rem 2rem 1rem;
    }
}