@import url('./reset.css');
#root {
    /* font-family: 'Chivo Mono', monospace; */
    font-family: 'Changa', sans-serif;
    /* background-color: whitesmoke; */
}

.parallax {
    perspective: 1px;
    height: 100vh;
    /* width: 110vw; */
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;

  }

  .layer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  .paralax-base {
    transform: translateZ(0);
  }
/* TODO FIX THE SCALE BELOW */
  .parallax-back {
    transform: translateZ(-15px) scale(19);
  }
