@import url('./reset.css');

#root {
    font-family: 'Changa', sans-serif;
}

.parallax {
    perspective: 1px;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;

}

.layer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.paralax-base {
    transform: translateZ(0);
}

.parallax-back {
    transform: translateZ(-15px) scale(19);
}

/* MEDIA QUERIES FOR RESPONSIVE DESIGN */

@media screen and (min-width: 600px) {
    #root {
        font-size: 1.3rem;
        line-height: 1.1;
    }

    .parallax-back {
        transform: translateZ(-15px) scale(20.2);
    }
}

@media screen and (min-width: 1200px) {
    #root {
        font-size: 1.6rem;
        line-height: 1.1;
    }

    .parallax-back {
        transform: translateZ(-17px) scale(21.6);
    }
}

@media screen and (min-width: 1400px) {

}